{{range $val :=.Output.Header}}
{{- $val}}
{{end}}

{{range $val :=.Models}}
{{template "model" $val}}
{{end}}


{{define "model"}}

/**
 * {{.Description}}
 * {{.Summary}}
 */
public class {{.Type.Expression}}
{
    {{range $val :=.Properties -}}
    /**
     * {{.Description}}
     * {{.Summary}}
     */
    public {{$val.Type.Expression}}? {{Capitalize $val.Alias}} { get; set; }
    {{end}}
}
{{end}}