{{range $val :=.Output.Header}}
{{- $val}}
{{end}}

import com.fasterxml.jackson.databind.JsonNode;

import java.io.Serializable;
import java.util.List;
import java.util.Map;

{{range $val :=.Models}}
{{template "model" $val}}
{{end}}


{{define "model"}}

/**
 * {{.Description}}
 * {{.Summary}}
 */
public class {{.Type.Expression}} implements Serializable {
    {{range $val :=.Properties -}}
    /**
     * {{.Description}}
     * {{.Summary}}
     */
    private {{$val.Type.Expression}} {{$val.Alias}};
    {{end}}

    {{range $val :=.Properties}}
    public {{$val.Type.Expression}} get{{Capitalize $val.Alias}}() {
        return {{$val.Alias}};
    }

    public void set{{Capitalize $val.Name}}({{$val.Type.Expression}} {{$val.Alias}}) {
        this.{{$val.Alias}} = {{$val.Alias}};
    }
    {{end}}
}
{{end}}