{{define "header"}}
import { ApiClient } from "./client"
{{end}}

{{define "client"}}
import axios, {AxiosError, AxiosResponse} from "axios";

export const axiosClient = axios.create({
    baseURL: "{{.Endpoint}}",
    headers: {
        'Content-Type': 'application/json;charset=utf-8'
    },
    timeout: Number(60000),
    withCredentials: false
})

axiosClient.interceptors.response.use((response: AxiosResponse) => {
    return response.data
}, (error: AxiosError) => {
    return Promise.reject(error)
})

export const ApiClient = {

    get: async (path: string, params?: any) => {
        return await axiosClient.get(path,{params:params}) as any
    },

    post: async (path: string, params?: any) => {
        return await axiosClient.post(path, params) as any
    },

    put: async (path: string, params?: any) => {
        return await axiosClient.put(path, params) as any
    },

    delete: async (path: string, params?: any) => {
        return await axiosClient.delete(path, params) as any
    },
}
{{end}}



{{define "struct"}}
/**
 * {{.Description}}
 */
export interface {{.Type.Expression}} {
	{{range $val :=.Properties -}}
	//{{$val.Description}}
	{{- if $val.Enums -}}// Enums: {{$val.Enums}} {{- end}}
	{{$val.Name}}: {{$val.Type.Expression}}
	{{end}}
}
{{end}}


{{define "api"}}
/**
 * {{.Description}}
 */
export const {{.Name}} = {
	{{range $val :=.Paths -}}
	{{template "path" $val}}
	{{end}}
}
{{end}}


{{define "parameters"}}
	{{- if .Parameters -}}
		params:{ {{range $idx,$val := .Parameters -}} {{if gt $idx 0}}, {{end}} {{$val.Name}} {{if $val.Required}}:{{else}}?:{{end}} {{$val.Type.Expression}}{{end}} }
	{{- else -}}
		{{if .Request}} params:{{.Request.Expression}} {{else}} params?:any {{end}}
	{{- end -}}
{{end}}


{{define "path"}}
	/**
	 * {{.Summary}}
	 * {{.Description}}
	 */
	{{.Name}}: async ({{template "parameters" .}}) => {
		return await ApiClient.{{.Method}}({{.Path}},params) as {{.Response.Expression}}
	},
{{end}}