{{define "header"}}
import Foundation
import Alamofire
{{end}}

{{define "client"}}
import Foundation
import Alamofire

/**
 * TODO You need to implement the current protocol, which can refer to Alamofire or URLSession
 */
protocol ApiClient {

    func get<T:Codable>(_ path: String, _ params: Any?, _ type: T.Type) async throws -> T

    func post<T:Codable>(_ path: String, _ params: Any?, _ type: T.Type) async throws -> T

    func put<T:Codable>(_ path: String, _ params: Any?, _ type: T.Type) async throws -> T

    func delete<T:Codable>(_ path: String, _ params: Any?, _ type: T.Type) async throws -> T

}
{{end}}


{{define "struct"}}
/**
 * {{.Description}}
 */
public struct {{.Type.Expression}}:Codable {
	{{range $val :=.Properties -}}
	//{{$val.Description}}
	{{- if $val.Enums -}}// Enums: {{$val.Enums}} {{- end}}
	var {{$val.Name}}: {{$val.Type.Expression}}
	{{end}}
}
{{end}}


{{define "parameters"}}
	{{- if .Parameters -}}
		{{range $idx,$val := .Parameters -}} {{if gt $idx 0}}, {{end}}_ {{$val.Alias}}:{{$val.Type.Expression}}{{end}}
	{{- else -}}
		{{if .Request}}_ params: {{.Request.Expression}} {{end}}
	{{- end -}}
{{end}}


{{define "path"}}
	/**
	 * {{.Description}}
	 */
    func {{.Name}}({{template "parameters" .}}) async throws -> {{.Response.Expression}} {
        {{if .Parameters -}}
        var params: [String: Any?] = [:]
        {{range $idx,$val := .Parameters -}}
        params["{{$val.Name}}"] = {{$val.Alias}}
        {{end}}
        {{- end -}}
        return try await client.{{.Method}}({{.Path}}, {{if or .Parameters .Request}}params{{else}}nil{{end}} ,{{.Response.Expression}}.self)
    }
{{end}}


{{define "api"}}
/**
 * {{.Description}}
 */
class {{.Name}} {

    var client: ApiClient

    init(client: ApiClient) {
        self.client = client
    }

	{{range $val :=.Paths -}}
	{{template "path" $val}}
	{{end}}
}
{{end}}