{{range $val :=.Output.Header}}
{{- $val}}
{{end}}

import {ApiClient} from './client';
import {
    {{range $val :=.Models}}
    {{- $val.Alias}},
    {{end}}
} from './model';


{{range $val :=.Apis}}
{{template "api" $val}}
{{end}}


{{define "api"}}
/**
 * {{.Description}}
 */
export const {{.Name}} = {
	{{range $val :=.Paths -}}
	{{template "path" $val}}
	{{end}}
}
{{end}}

{{define "path"}}
	/**
	 * {{.Summary}}
	 * {{.Description}}
	 */
	{{.Name}}: async (
        params?: { {{- range $idx,$val := .Parameters -}}{{if gt $idx 0}},{{end}} {{$val.Alias}}?: {{$val.Type.Expression}}{{- end -}} } & { [key: string]: any }
	) => {
		return await ApiClient.{{.Method}}({{.Path}},{{- if .Request}}params?.body{{else}}params{{end}} ) as {{.Response.Expression}}
	},
{{end}}